.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-padding {
  padding: 0.75rem 5.25rem;
  text-align: center;
}

.logo {
  display: block;
  width: 70%;
  margin: 0 auto;
}